<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Manchester Baptist Church</title>
        <meta name="description" content="Manchester Baptist Church | Love God, Love Others">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="..\styles\style.css">
        <link rel="stylesheet" href="..\styles\data.css">
    </head>
    <body>
        <div class="switcher-container">
            <div class="switcher"></div>
        </div>
        <h2>Manchester Baptist Church</h2>
        <div class="confession"></div>


        <div id="page-id" class="beliefs"></div>

        <script src="..\scripts\shared.js" async defer></script>
        <script src="..\scripts\components.js" async defer></script>
        <script src="..\scripts\data.js" type='module' async defer></script>
        <script src="..\scripts\main.js" type='module' async defer></script>
    </body>
</html>