body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --expand-200: #ccc;
    --expand-400: #bbb;
    --expand-600: #999;
    --expand-800: #777;
    --expand-dark-950: #333;
    --expand-dark-900: #444;
    --expand-dark-850: #555;
    --expand-dark-800: #666;
  }

.text-normal {
  height: auto;
}

.text-indent {
  padding-left: 2rem;
}

.text-underline {
  text-decoration: underline;
}

.text-italics {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.blockquote-normal {
  color: black;
  padding: 2rem;
  font-family: var(--serif);
  background-color: #ddd;
  margin: 0.5rem auto;
  width: 80%;
  transition: all ease 250ms;
}

main.dark > .confession-container > .constitution-section > .blockquote-normal, .blockquote-normal.dark {
  background-color: var(--expand-dark-900);
  color: white;
}

.confession-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter {
    margin: 1.2rem 0;
}

.chapter-title {
    font-family: var(--serif);
    user-select: none;
}

.chapter-title-card {
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--expand-200);
    border: 1px solid slategray;
    padding: 0 3rem;
    transition: all 250ms ease-in-out;
    height: auto;
  }

  .chapter-title-card.dark {
    background-color: var(--expand-dark-900);
    transition: all 250ms ease-in-out;
  }
  
  .chapter-title-card:hover {
    background-color: var(--expand-400);
    transition: all 250ms ease-in-out;
  }

  .chapter-title-card.dark:hover {
    background-color: var(--expand-dark-950);
    transition: all 250ms ease-in-out;
  }
  
  .chapter-title-card.active {
    background-color: var(--expand-800);
    color: white;
    transition: all 150ms linear;
  }

  .chapter-title-card.dark.active {
    background-color: var(--expand-dark-850);
    transition: all 150ms linear;
  }
  
  .chapter-title-card.active:hover {
    background-color: var(--expand-600);
    transition: all 250ms ease-in-out;
  }

  .chapter-title-card.dark.active:hover {
    background-color: var(--expand-dark-800);
    transition: all 250ms ease-in-out;
  }
    
  .chapter-plus-x {
    color: var(--expand-800);
    user-select: none;
    font-size: 2rem;
    transition: all 200ms ease-in-out;
  }
  
  .chapter-plus-x:hover {
    color: black;
    transition: all 250ms ease-in-out;
  }
  
  .chapter-plus-x.active {
    color: white;
    transform: rotate(45deg);
    transition: all 200ms 250ms ease-in-out;
  }
  
  .chapter-plus-x.active:hover {
    color: var(--expand-200);
    transition: all 250ms ease-in-out;
  }
  
  .chapter-sections {
    isolation: isolate;
    position: relative;
    z-index: -1;
    width: 90%;
    opacity: 0;
    max-height: 1px;
    line-height: 0;
    padding: 0;
    margin: -0.75rem auto;
    transition: all 350ms ease-in-out;
  }
  
  .chapter-sections.active {
    max-height: unset;
    margin: 0.5rem auto;
    z-index: 0;
    line-height: 1.15;
    opacity: 1;
    transition: all 350ms ease-in-out;
  }

  .chapter-sections.active > .chapter-section > p {
    margin: 0.65rem 0 1.25rem 0;
}

/* HISTORY */

.history-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-section {
  margin: 2rem auto;
}

.history-section > p {
  padding: 0.5rem 0;
}

/* RECOMMENDED RESOURCES */

.recommended-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.recommended-container > div {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.recommended-resource-links {
  font-family: var(--serif);
  padding-bottom: 0.3rem;
  color: black;
}

.recommended-resource-links.dark {
  color: white;
}

/* CONSTITUTION & BYLAWS */

.constitution-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.constitution-section, .bylaws-section {
  margin: 1.5rem auto;
}

.bylaws-section > h5, .bylaws-section > p {
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .confession-container {
    max-width: 75ch;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .history-section, .constitution-section, .bylaws-section {
    width: 75ch;
  }

  .recommended-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}