@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Allura&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
  }

:root {
--sl-color-primary-50: #f6fafe;
--sl-color-primary-100: #e2edfa;
--sl-color-primary-200: #cde0f7;
--sl-color-primary-300: rgb(181 209 243);
--sl-color-primary-400: rgb(148 189 238);
--sl-color-primary-500: rgb(105 163 231);
--sl-color-primary-600: rgb(69 134 210);
--sl-color-primary-700: rgb(57 110 173);
--sl-color-primary-800: #2f5b8e;
--sl-color-primary-900: #214165;
--sl-color-primary-950: #14283e;
--dark-blue: var(--sl-color-primary-800);
--light-blue: var(--sl-color-primary-500);
--lighter-blue: var(--sl-color-primary-300);
--off-white: var(--sl-color-primary-50);
--gray: rgb(116, 118, 139);
--dark-gray: #232323;
--dark-brown: #1d140cff;
--sans-serif: 'Poppins', sans-serif;
--serif: 'Merriweather', serif;
--cursive: "Allura", cursive;
--fw-reg: 400;
--fw-bold: 700;
--fs-100: 0.75rem;
--fs-200: 0.825rem;
--fs-300: 0.9rem;
--fs-400: 1rem;
--fs-500: 1.4rem;
--fs-600: 2rem;
--fs-700: 2.8rem;
--fs-800: 4rem;
--fs-900: 5.6rem;
scroll-behavior: smooth;
}

:not(:defined) {
  visibility: hidden;
}

i {
    font-style: italic;
}

blockquote {
    margin: 1rem;
    background-color: var(--gray);
}

body {
    font-family: var(--sans-serif);
}

h1 {
  font-size:var(--fs-800);
  user-select: none;
  cursor: default;
}

h2 {
    font-size: var(--fs-800);
}

h3 {
    font-size: var(--fs-700);
}

h4 {
    font-size: var(--fs-600);
}

h5 {
    font-size: var(--fs-500);
}

h6 {
    font-size: var(--fs-400);
}

span {
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-300);
}

.serif {
  font-family: var(--serif);
}

.smallest {
    font-size: var(--fs-100);
}

.cursive {
  font-family: var(--cursive);
}

.bold {
  font-weight: bold;
}

nav {
  margin: 0 auto;
  background-color: var(--dark-blue);
  box-shadow: 0px 2px 15px var(--gray);
  color: var(--off-white);
  padding: 1rem;
  transition: all ease-in-out 350ms;
  position: relative;
  z-index: 2;
  scroll-margin-top: 2rem;
}

nav.dark {
  background-color: var(--dark-gray);
  box-shadow: 0px 2px 15px var(--gray);
  transition: all ease-in-out 350ms;
}

.banner {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner > img {
  height: 8vh;
  transition: all ease-in-out 350ms;
}

nav.dark > .banner > img {
  content: url("../images/diamond_white.webp");
  transition: all ease-in-out 350ms;
}

.navbar {
  width: 99%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all ease-in-out 350ms;
}

.nav-links {
  padding-left: 4rem;
}

.navbar > .nav-links > ul {
  list-style: none;
  display: flex;
}

.navbar > .nav-links > ul > li {
  width: auto;
  margin-right: 2rem;
}

.sl-icon {
  margin-right: 0.5rem;
}

nav.dark > .navbar > .nav-links > ul > li > a {
  color: var(--off-white);
  transition: all ease-in-out 350ms;
}

.navbar > .nav-links > ul > li > a {
  position: relative;
  color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a:hover {
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: var(--off-white);
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover {
  color: white;
  transition: all ease-in-out 350ms;
}

nav.dark > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: white;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}


/* *** BEGIN SWITCHER CONTAINER */

.switcher {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 4rem;
  cursor: pointer;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all ease 1000ms;
}

.switcher > img {
  height: 30px;
  width: 30px;
  filter: invert(1);
  transition: all ease 300ms;
}

.switcher > img:hover {
  filter: invert(1) drop-shadow(0px 0px 1px var(--off-white));
  transition: all ease 300ms;
}

.switcher.dark {
  filter: invert(1);
  transform: rotate(180deg);
  transform-origin: center;
  transition: all ease 1000ms;
}

.switcher.dark > img:hover {
  filter: invert(1) drop-shadow(0px 0px 1px var(--light-blue));
  transition: all ease 300ms;
}

/* *** END SWITCHER CONTAINER */

.viewport-80 {
  height: 80vh;
  position: relative;
}

.gospel-driven {
  display: flex;
  justify-content: center;
  margin-top: clamp(0.5rem, 2vh, 2.5rem)
}

.waagdc > h2:nth-of-type(1) {
  font-family: var(--cursive);
}

.waagdc > h2:last-of-type {
  font-family: var(--serif);
}

.gospel-driven > p {
  max-width: 30vw;
  margin-left: 3rem;
}

/* *** BEGIN IMAGE SLIDER *** */

.slider {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 2rem 0;
  overflow-x: hidden;
  background-color: white;
  transition: all ease 300ms;
}

.slider.dark {
  background-color: var(--dark-gray);
}

.slides {
  display: flex;
  height: auto;
  animation: loop-slides var(--scroll-speed) linear infinite;
}

.slide {
  box-sizing: border-box;
  width: var(--slide-width);
  max-height: 40vh;
  margin: 0 var(--slide-margins);
  filter: grayscale(0.9);
  transition: all ease 300ms;
}

.slide:hover {
  filter: grayscale(0.2);
}

@keyframes loop-slides {

  100% { 
    transform: translateX(calc(var(--transform-distance) - var(--margin-correction)));
  }
}

/* *** END IMAGE SLIDER *** */

main {
  background-color: white;
  color: black;
  transition: all ease 300ms;
}

main.dark {
  background-color: var(--dark-gray);
  color: var(--off-white);
}

#social-media-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#social-media-icons-links > a > img {
  --size: 4vh;
  height: var(--size);
  margin: 1rem 0.5rem;
  transition: all ease 300ms;
  opacity: 0.9;
}

#social-media-icons-links > a:nth-of-type(3) > img {
  opacity: 0.95;
}

#social-media-icons-links > a:hover > img {
  opacity: 1;
  filter: drop-shadow(0 0 2px var(--dark-blue));
}

#social-media-icons-links.dark > a > img {
  filter: invert(100%);
  transition: all ease 300ms;
}

#social-media-icons-links.dark > a:hover > img {
  filter: invert(100%) drop-shadow(0 0 2px var(--light-blue));
}

#social-media-icons-links > a:nth-of-type(1) > img, #social-media-icons-links > a:nth-of-type(4) > img {
  height: calc(1.35 * var(--size));
}

.viewport-100, footer {
  height: 100vh;
  padding-top: 3rem;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-2 {
  background-image: linear-gradient(
    135deg,
    hsl(210deg 80% 98%) 0%,
    hsl(212deg 75% 96%) 29%,
    hsl(213deg 73% 94%) 43%,
    hsl(213deg 73% 93%) 57%,
    hsl(213deg 72% 91%) 71%,
    hsl(213deg 72% 89%) 100%
  );
  color: black;
  transition: all ease 300ms;
}

.background-2.dark {
  background-image: linear-gradient(
  305deg,
  hsl(211deg 51% 16%) 0%,
  hsl(212deg 51% 20%) 21%,
  hsl(212deg 51% 23%) 30%,
  hsl(212deg 51% 25%) 39%,
  hsl(212deg 50% 27%) 46%,
  hsl(212deg 50% 30%) 54%,
  hsl(212deg 50% 32%) 61%,
  hsl(212deg 50% 34%) 69%,
  hsl(212deg 50% 35%) 79%,
  hsl(212deg 50% 37%) 100%
  );
  color: white;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  height: 35vh;
  width: 35%;
  background-size: cover;
}

.about-section:nth-of-type(1) {
  background-image: url('../images/quilts.png');
}

.about-section:nth-of-type(2) {
  background-image: url('../images/table.png');
}

.about-section:nth-of-type(3) {
  background-image: url('../images/calendar.jpg');
}

.about-section:nth-of-type(4) {
  background-image: url('../images/desk.png');
}

.about-section > div {
  display: none;
  color: white;
  margin-top: 0;
  padding: 1rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(4px);
  font-size: clamp(0.85rem, 1.1vw, 1.3em);
  transition: all ease-in-out 300ms;
}

.about-section:hover > div {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: all ease-in-out 300ms;
}

.about-section > p {
  opacity: 1;
  color: white;
  font-size: var(--fs-700);
  filter: drop-shadow(0 1px 2px black);
  cursor: default;
  user-select: none;
  transition: all ease-in-out 300ms;
}

.about-section:hover > p {
  display: none;
  opacity: 0;
}

.leadership:hover {
  display: flex;
  flex-direction: column;
}

.deacon-columns {
  display: flex;
  justify-content: space-around;
}

.resource-links > a {
  color: white;
}

#countdown-service-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}

/* *** BEGIN COUNTDOWN CONTAINER */

.countdown-container {
  margin-right: 3rem;
  padding-right: 2rem;
  min-width: 25vw;
}

#countdown {
  font-size: var(--fs-900);
  margin-top: -1rem;
}

#prayer-request-container {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prayer-requests {
  max-width: 75vw;
  margin-top: 1rem;
}

.prayer-list {
  columns: 4;
  column-gap: 4rem;
}

.prayer-item {
  font-size: var(--fs-300);
}

/* *** FOOTER *** */

footer {
  position: relative;
  max-width: 100%;
  background-color: var(--dark-blue);
  color: var(--off-white);
  display: flex;
}

footer.dark {
  background-color: var(--dark-gray);
}

footer > .row-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-schedule > ul {
  list-style: none;
}

.footer-schedule > ul > li:nth-of-type(1) {
  font-family: var(--cursive);
  font-size: var(--fs-600);
}

.diamond {
  --side: 8vh;
  height: var(--side);
  width: var(--side);
  margin: auto 8rem;
}

footer > .row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;
}

#current-weather {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.place {
  font-family: var(--serif);
  margin-bottom: 1.5rem;
}

.weather-text {
  padding: 0.5rem 1.5rem;
}

.weather-icon {
  filter: contrast(280%) brightness(1%) invert(85%);
  height: 5vw;
}

iframe {
  margin: 0 6rem;
}

#footer-social-media-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1)
}

#footer-social-media-icons-links > a > img {
  --size: 4vh;
  height: var(--size);
  margin: 1rem 0.5rem;
  opacity: 0.85;
  transition: all ease 300ms;
}

#footer-social-media-icons-links > a:nth-of-type(3) > img {
  filter: brightness(0.1);
}

#footer-social-media-icons-links > a:hover > img {
  opacity: 1;
}

#footer-social-media-icons-links > a:nth-of-type(1) > img, #footer-social-media-icons-links > a:nth-of-type(4) > img {
  height: calc(1.35 * var(--size));
}

.credit {
  font-size: var(--fs-100);
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
}

.footer-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--off-white);
  transition: all ease 350ms;
}

.footer-link:hover {
  color: var(--sl-color-primary-200);
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 0;
  width: 4vw;
  z-index: 10000;
  background-color: #333;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all ease-in-out 400ms;
}

.to-top:hover {
  background-color: var(--sl-color-primary-900);
}

.to-top > a {  
  text-decoration: none;
  color: white;
  font-size: 1.85rem;
}

.visible {
  opacity: 80%;
  transition: all ease-in-out 500ms;
}

.observable {
  opacity: 0;
  transform: translateY(60px);
  transition: all 650ms ease-in-out 150ms;
}

.float-up {
  transform: translateY(0px);
  opacity: 1;
  transition: all 650ms ease-in-out 150ms;
}