@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Allura&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
  }

:root {
--sl-color-primary-50: #f6fafe;
--sl-color-primary-200: #cde0f7;
--sl-color-primary-300: rgb(181 209 243);
--sl-color-primary-500: rgb(105 163 231);
--sl-color-primary-600: #4586d2;
--sl-color-primary-800: #2f5b8e;
--sl-color-primary-900: #103055;
--dark-blue: var(--sl-color-primary-800);
--darker-blue: var(--sl-color-primary-900);
--light-blue: var(--sl-color-primary-500);
--off-white: var(--sl-color-primary-50);
--gray: rgb(116, 118, 139);
--dark-gray: #232323;
--sans-serif: 'Poppins', sans-serif;
--serif: 'Merriweather', serif;
--cursive: "Allura", cursive;
--fs-100: 0.75rem;
--fs-200: 0.825rem;
--fs-300: 0.9rem;
--fs-400: 1rem;
--fs-500: 1.4rem;
--fs-600: 2rem;
--fs-700: 2.8rem;
--fs-800: 4rem;
--fs-900: 5.6rem;
scroll-behavior: smooth;
}

:not(:defined) {
  visibility: hidden;
}

i {
    font-style: italic;
}

body {
    font-family: var(--sans-serif);
}

h1 {
  font-size:var(--fs-800);
  user-select: none;
  cursor: default;
}

h2 {
    font-size: var(--fs-800);
}

h3 {
    font-size: var(--fs-700);
}

h4 {
    font-size: var(--fs-600);
}

h5 {
    font-size: var(--fs-500);
}

h6 {
    font-size: var(--fs-400);
}

span {
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-300);
}

.serif {
  font-family: var(--serif);
}

.smallest {
    font-size: var(--fs-100);
}

.cursive {
  font-family: var(--cursive);
}

.bold {
  font-weight: bold;
}

.mobile-banner {
  width: 100%;
  height: 8vh;
  background-color: var(--sl-color-primary-800);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  position: relative;
}

#hamburger, #hamburger::before, #hamburger::after {
  width: clamp(0.5rem, 7vw, 3.25rem);
  height: clamp(0.25rem, 0.25vh, 1.2rem);
  background-color: white;
  margin-right: 1rem;

}

#hamburger::before, #hamburger::after {
  content: '';
  position: absolute;
}

#hamburger::before {
  top: -300%;
}

#hamburger::after {
  top: 300%;
}

.mobile-banner > h2 {
  font-size: clamp(0.5rem, 4vw, 4.25rem);
  padding-left: 1rem;
}

.drawer {
  display: none;
}

.drawer.open {
  display: unset;
}

nav {
  margin: 0 auto;
  background-color: var(--dark-blue);
  box-shadow: 0px 2px 15px var(--gray);
  color: var(--off-white);
  padding: 1rem;
  transition: all ease-in-out 350ms;
  position: relative;
  z-index: 2;
  scroll-margin-top: 2rem;
}

nav.dark {
  background-color: var(--darker-blue);
  box-shadow: 0px 2px 15px var(--gray);
  transition: all ease-in-out 350ms;
}

.banner {
  display: none;
}

.navbar {
  width: 99%;
  margin-left: auto;
  transition: all ease-in-out 350ms;
  display: flex;
  justify-content: space-between;
}

.navbar > .nav-links > ul {
  list-style: none;
  padding: unset;
}

.navbar > .nav-links > ul > li {
  width: auto;
  margin-right: 2rem;
}

.sl-icon {
  margin-right: 0.5rem;
}

nav.dark > .navbar > .nav-links > ul > li > a {
  color: var(--off-white);
  transition: all ease-in-out 350ms;
}

.navbar > .nav-links > ul > li > a {
  position: relative;
  color: var(--off-white);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a:hover {
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: var(--off-white);
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover {
  color: white;
  transition: all ease-in-out 350ms;
}

nav.dark > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: white;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}


/* *** BEGIN SWITCHER CONTAINER */

.switcher {
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all ease 1000ms;
}

.switcher > img {
  height: 30px;
  width: 30px;
  filter: invert(1);
  transition: all ease 300ms;
}

.switcher > img:hover {
  filter: invert(1) drop-shadow(0px 0px 1px var(--off-white));
  transition: all ease 300ms;
}

.switcher.dark {
  filter: invert(1);
  transform: rotate(180deg);
  transform-origin: center;
  transition: all ease 1000ms;
}

.switcher.dark > img:hover {
  filter: invert(1) drop-shadow(0px 0px 1px var(--light-blue));
  transition: all ease 300ms;
}

/* *** END SWITCHER CONTAINER */

.viewport-80 {
  margin-bottom: 1rem;
  position: relative;
}

.waagdc > h2:nth-of-type(1) {
  font-family: var(--cursive);
  font-size: var(--fs-700);
}

.waagdc > h2:last-of-type {
  font-family: var(--serif);
  font-size: var(--fs-500);
}

.waagdc-paragraph > ul > li {
  font-family: var(--serif);
  margin-bottom: 0.5rem
}

main {
  padding: 1rem;
  background-color: white;
  color: black;
  transition: all ease 300ms;
}

main.dark {
  background-color: var(--dark-gray);
  color: var(--off-white);
}

#social-media-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#social-media-icons-links > a > img {
  --size: 4vh;
  height: var(--size);
  margin: 1rem 0.5rem;
  transition: all ease 300ms;
  opacity: 0.9;
}

#social-media-icons-links > a:nth-of-type(3) > img {
  opacity: 0.95;
}

#social-media-icons-links > a:hover > img {
  opacity: 1;
  filter: drop-shadow(0 0 2px var(--dark-blue));
}

#social-media-icons-links.dark > a > img {
  filter: invert(100%);
  transition: all ease 300ms;
}

#social-media-icons-links.dark > a:hover > img {
  filter: invert(100%) drop-shadow(0 0 2px var(--light-blue));
}

#social-media-icons-links > a:nth-of-type(1) > img, #social-media-icons-links > a:nth-of-type(4) > img {
  height: calc(1.35 * var(--size));
}

.background-2 {
  background-image: linear-gradient(
    135deg,
    #F9F871 0%,
    hsl(212deg 75% 96%) 19%,
    hsl(213deg 73% 94%) 43%,
    hsl(213deg 73% 93%) 57%,
    hsl(213deg 72% 91%) 71%,
    hsl(213deg 72% 89%) 83%,
    #90E584 100%
  );
  color: black;
  transition: all ease 300ms;
}

.background-2.dark {
  background-image: linear-gradient(
  305deg,
  #9a6e08 0%,
  hsl(212deg 51% 20%) 17%,
  hsl(212deg 51% 23%) 30%,
  hsl(212deg 51% 25%) 39%,
  hsl(212deg 50% 27%) 46%,
  hsl(212deg 50% 30%) 54%,
  hsl(212deg 50% 32%) 61%,
  hsl(212deg 50% 34%) 69%,
  hsl(212deg 50% 35%) 79%,
  #00A7B5 100%
  );
  color: white;
}

.about-section:nth-of-type(1) {
  background-image: url('../images/quilts.png');
  transition: all ease 200ms;
}

.about-section:nth-of-type(2) {
  background-image: url('../images/table.png');
  transition: all ease 200ms;
}

.about-section:nth-of-type(3) {
  background-image: url('../images/calendar.jpg');
  -webkit-filter: sepia(0.5);
  filter:sepia(0.5);
  transition: all ease 200ms;
}

.about-section:nth-of-type(4) {
  background-image: url('../images/desk.png');
  transition: all ease 200ms;
}

.about-section {
  cursor: pointer;
  transition: all ease 200ms;
}

.about-section:hover {
  filter: grayscale(100);
  transition: all ease 200ms;
}

.about-section:nth-of-type(3):hover {
  filter:sepia(0);
  -webkit-filter: sepia(0);
  transition: all ease 200ms;
}

.about-section > p {
  color: white;
  font-size: var(--fs-700);
  filter: drop-shadow(0 1px 2px black);
  user-select: none;
  transition: all ease-in-out 300ms;
}

.ministries-list > p {
  font-size: var(--fs-400);
  margin-bottom: 1rem;
}

.elders > h5 {
  margin-bottom: 1rem;
}

.deacon-columns {
  margin-top: 1rem;
}

#church-resources {
  align-self: start;
  margin-left: 10vw;
  font-size: 2.25rem;
  font-family: var(--serif);
}

.resource-links {
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}
.resource-links a {
  color: black;
  font-size: clamp(1rem, 2vw, 1.15rem);
  display: flex;
  gap:0.5rem;
  align-items: center;
}
.resource-links a:hover {
  color: #444;
}
.viewport-100.dark .resource-links a {
  color: white;
}
.viewport-100.dark .resource-links a:hover {
  color: rgb(211, 223, 255);
}
.resource-links-music {
  background-color: #eee;
  padding:1.5rem;
  border:solid 2px #ccc;
  border-radius: 10px;
  margin: 1.5rem 0;
}
.viewport-100.dark .about-container .resource-links-music {
  background-color: #111;
  border-color: #555;
}

.viewport-100.dark .about-container #mbc-praise a sl-icon, .viewport-100.dark .about-container #mbc-youth a sl-icon { 
  color: white;
}
#mbc-praise a sl-icon, #mbc-youth a sl-icon { 
  color: black;
  font-size: 1.75rem;
  margin-right:1rem;
  transition: transform ease 250ms;
}
#mbc-praise a sl-icon:hover, #mbc-youth a sl-icon:hover { 
  transform:scale(1.2);
}
#mbc-praise h5, #mbc-youth h5 { 
  font-size: 1.25rem;
}

.flex-col h6 { font-size: 2rem;}
.flex-col ul { margin:1rem 0; list-style: none; margin-bottom: 1.5rem;}
.flex-col ul li sl-icon { font-size: clamp(1rem, 2.25vw, 2rem);}
.flex-col ul li { font-size: clamp(1rem, 1.25vw, 1.5rem); display:flex; gap: 0.5rem; align-items: center; padding-top: 0.75rem;}

.schedule > h5, .schedule > p {
  margin-bottom: 1rem;
}

#countdown-service-info {
  margin: 2rem auto;
}

/* *** BEGIN COUNTDOWN CONTAINER */

.countdown-container {
  display: none;
}

#announcement-badge { margin-top: 2rem; }

#prayer-request-container {
  text-wrap: balance;
}

#prayer-requests {
  max-width: 55vw;
  margin: 1rem 0;
}

.prayer-item {
  font-size: var(--fs-300);
}

.divider {
  width: 100%;
  height: 10vh;
  background-image: url('../images/blue-divider-men.webp');
  background-size: cover;
  background-position: center;
}

#contact-us {
  width: 100%;
  height: fit-content;
}

/* .viewport-100 > .flex-col {
  display: none;
} */

iframe {
  border: none;
}

#contact-us > iframe {
  width: 100%;
  height: 100svh;
}

/* *** FOOTER *** */

footer {
  position: relative;
  max-width: 100%;
  background-color: var(--dark-blue);
  color: var(--off-white);
}

footer.dark {
  background-color: var(--darker-blue);
}

.footer-schedule > ul {
  list-style: none;
}

.footer-schedule > ul > li:nth-of-type(1) {
  font-family: var(--cursive);
  font-size: var(--fs-600);
}

.diamond {
  --side: 8vh;
  height: var(--side);
  width: var(--side);
  margin: 1rem 8rem;
}

footer > .row-1, footer > .row-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem auto;
}

#current-weather {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.place {
  font-family: var(--serif);
  margin-bottom: 1.5rem;
}

.weather-text {
  padding: 0.5rem 1.5rem;
}

.weather-icon {
  filter: contrast(280%) brightness(1%) invert(85%);
  height: 15vw;
}

footer > .row-2 > iframe {
  max-width: 100%;
}

#footer-social-media-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1)
}

#footer-social-media-icons-links > a > img {
  --size: 4vh;
  height: var(--size);
  margin: 1rem 0.5rem;
  opacity: 0.85;
  transition: all ease 300ms;
}

#footer-social-media-icons-links > a:nth-of-type(3) > img {
  filter: brightness(0.1);
}

#footer-social-media-icons-links > a:hover > img {
  opacity: 1;
}

#footer-social-media-icons-links > a:nth-of-type(1) > img, #footer-social-media-icons-links > a:nth-of-type(4) > img {
  height: calc(1.35 * var(--size));
}

.credit {
  font-size: var(--fs-100);
  padding: 0.5rem 0.5rem 4rem 0.5rem;
}

.credit > span {
  font-size: var(--fs-100);
}

.footer-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--off-white);
  transition: all ease 350ms;
}

.footer-link:hover {
  color: var(--sl-color-primary-200);
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 0;
  width: 14vw;
  z-index: 10000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: all ease-in-out 350ms;
}

.to-top > a {  
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 2rem;
  transition: all ease 300ms;
}

.to-top > a:hover {  
  color: var(--light-blue);
  transition: all ease 300ms;
}

.to-top.dark > a {
  color: white;
  transition: all ease 300ms;
}

.to-top.dark > a:hover {
  color: var(--light-blue);
}

.visible {
  opacity: 80%;
  transition: all ease-in-out 300ms;
}

.video-wrapper iframe {
  width: 85vw;
}

@media (min-width: 920px) {
  .mobile-banner {
    display: none;
  }

  .drawer {
    display: unset;
  }

  nav {
    margin: 0 auto;
    background-color: var(--dark-blue);
    box-shadow: 0px 2px 15px var(--gray);
    color: var(--off-white);
    padding: 1rem;
    transition: all ease-in-out 350ms;
    position: relative;
    z-index: 2;
    scroll-margin-top: 2rem;
  }
  
  .banner {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .banner > img {
    height: 8vh;
    transition: all ease-in-out 350ms;
  }
  
  nav.dark > .banner > img {
    content: url("../images/diamond_white.webp");
    transition: all ease-in-out 350ms;
  }
  
  .navbar {
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-links {
    padding-left: 4rem;
  }
  
  .navbar > .nav-links > ul {
    display: flex;
  }
  
  .navbar > .nav-links > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  
  .switcher {
    margin: 0 4rem;
  }
  
  .viewport-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: unset;
    overflow-x: hidden;
    background-image: url("../images/church-desaturated.webp");
    background-size: cover;
    background-position: bottom;
    color: white;
  }
  
  .gospel-driven {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: clamp(0.5rem, 5vh, 2.5rem);
    background-color: rgba(43, 43, 43, 0.85);
    padding: 3rem 0;
  }
  
  .waagdc > h2:nth-of-type(1) {
    font-size: var(--fs-800);
  }
  
  .waagdc > h2:last-of-type {
    font-size: var(--fs-700);
  }
  
  .waagdc-paragraph {
    max-width: 40vw;
    margin-left: 3rem;
  }

  .call-to-action {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }

  #social-media-icons-links {
    position: absolute;
    bottom: 0;
  }

  #social-media-icons-links.dark > a > img {
    filter: invert(0%);
    transition: all ease 300ms;
  }
  
  #social-media-icons-links.dark > a:hover > img {
    filter: drop-shadow(0 0 2px var(--light-blue));
    transition: all ease 300ms;
  }
  
  main {
    padding: 0;
  }
  
  .viewport-100, footer {
    min-height: 100vh;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-container {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: auto;
  }
  
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 2rem 2rem;
    height: 35vh;
    width: 35%;
    background-size: cover;
    transition: all ease 200ms;
  }

  .deacon-columns {
    display: flex;
    gap: 6rem;
  }
  
  #countdown-service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
  }
  
  /* *** BEGIN COUNTDOWN CONTAINER */
  
  .countdown-container {
    display: unset;
    margin-right: 3rem;
    padding-right: 2rem;
    min-width: 25vw;
  }
  
  #countdown {
    font-size: clamp(var(--fs-300), 6vw, var(--fs-900));
    margin-top: -1rem;
  }
  
  #prayer-request-container {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #prayer-requests {
    margin-top: 1rem;
  }
  
  .prayer-list {
    columns: 4;
    column-gap: 4rem;
  }

  .divider {
    height: 30vh;
  }
  
  .flex-space-around {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }

 .flex-col {
  flex-direction: column;
  display: unset;
    max-width: 50%;
    font-size: 1.25rem;
    padding: 1rem 4rem;
}

  .leadership {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  #contact-us {
    height: unset;
  }

  #contact-us > iframe {
    width: 50%;
  }
  
  /* *** FOOTER *** */
  
  footer {
    display: flex;
  }
  
  footer > .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  footer > .row-2 {
    flex-direction: row;
    width: 100%;
  }
  
  .weather-icon {
    height: 5vw;
  }
  
  .row-2 > iframe {
    width: 40%;
    margin: 0 6rem;
  }
  
  .credit {
    position: absolute;
    bottom: 0;
    padding: 0;
  }
  
  .to-top {
    width: 4vw;
  }
  
  .observable {
    opacity: 0;
    transform: translateY(60px);
    transition: all 650ms ease-in-out 150ms;
  }
  
  .float-up {
    transform: translateY(0px);
    opacity: 1;
    transition: all 650ms ease-in-out 150ms;
  }
}

.video-wrapper {
  padding: 3rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper iframe {
  height: 60vh;
  width: 50vw;
}