@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
  }

:root {
--dark-blue: #252c56ff;
--light-blue: #639fabff;
--lighter-blue: rgb(159, 210, 221);
--off-white: #f5f9e9ff;
--gray: rgb(116, 118, 139);
--dark-gray: #232323;
--dark-brown: #1d140cff;
--sans-serif: 'Poppins', sans-serif;
--serif: 'Merriweather', serif;
--fw-reg: 400;
--fw-bold: 700;
--fs-100: 0.75rem;
--fs-200: 0.825rem;
--fs-300: 0.9rem;
--fs-400: 1rem;
--fs-500: 1.4rem;
--fs-600: 2rem;
--fs-700: 2.8rem;
--fs-800: 4rem;
--fs-900: 5.6rem;
}

:not(:defined) {
  visibility: hidden;
}

i {
    font-style: italic;
}

blockquote {
    margin: 1rem;
    background-color: var(--gray);
}

body {
    font-family: var(--sans-serif);
}

h1 {
    font-size: var(--fs-700);
    color: var(--dark-blue);
    text-transform: uppercase;
}

h2 {
    font-size: var(--fs-800);
}

h3 {
    font-size: var(--fs-700);
    color: var(--dark-brown);
}

h4 {
    font-size: var(--fs-600);
}

h5 {
    font-size: var(--fs-500);
}

h6 {
    font-size: var(--fs-400);
}

span {
    font-size: var(--fs-300);
}

p {
    font-size: var(--fs-300);
}

.smallest {
    font-size: var(--fs-100);
}

nav {
  margin: 0 auto;
  box-shadow: 0px 2px 15px var(--gray);
  padding: 1rem;
  transition: all ease-in-out 350ms;
  position: relative;
  z-index: 2;
}

nav.dark {
  background-color: var(--dark-gray);
  box-shadow: 0px 2px 15px var(--gray);
  transition: all ease-in-out 350ms;
}

nav.dark > .banner > h1 {
  color: var(--off-white);
  transition: all ease-in-out 350ms;
}

.banner {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner > img {
  height: 8vh;
  transition: all ease-in-out 350ms;
}

nav.dark > .banner > img {
  content: url("../images/diamond_white.webp");
  transition: all ease-in-out 350ms;
}

.navbar {
  width: 99%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 350ms;
}

.nav-links {
  padding-left: 4rem;
}

.navbar > .nav-links > ul {
  list-style: none;
  display: flex;
}

.navbar > .nav-links > ul > li {
  width: auto;
  margin-right: 2rem;
}

.sl-icon {
  margin-right: 0.5rem;
}

nav.dark > .navbar > .nav-links > ul > li > a {
  color: var(--off-white);
  transition: all ease-in-out 350ms;
}

.navbar > .nav-links > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a:hover {
  transition: all ease-in-out 350ms;
}

nav > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: var(--dark-blue);
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover {
  color: white;
  transition: all ease-in-out 350ms;
}

nav.dark > .navbar > .nav-links > ul > li > a::after {
  content: '';
  position: absolute;
  background-color: white;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

nav.dark > .navbar > .nav-links > ul > li > a:hover::after {
  width: 100%;
}


/* *** BEGIN SWITCHER CONTAINER */

.switcher {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 4rem;
  cursor: pointer;
  transform-origin: center;
  transform: rotate(0deg);
  transition: all ease 1000ms;
}

.switcher > img:hover {
  filter: drop-shadow(0px 0px 1px var(--dark-blue));
  transition: all ease 300ms;
}

.switcher.dark {
  transform: rotate(180deg);
  transform-origin: center;
  transition: all ease 1000ms;
}

.switcher.dark > img:hover {
  filter: drop-shadow(0px 0px 1px var(--light-blue));
  transition: all ease 300ms;
}

.switcher > img {
  height: 30px;
  width: 30px;
  transition: all ease 300ms;
}

/* *** END SWITCHER CONTAINER */

/* *** BEGIN IMAGE SLIDER *** */

.slider {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 2rem 0;
  overflow-x: hidden;
  background-color: white;
  transition: all ease 300ms;
}

.slider.dark {
  background-color: var(--dark-gray);
}

.slides {
  display: flex;
  height: auto;
  animation: loop-slides var(--scroll-speed) linear infinite;
}

.slide {
  box-sizing: border-box;
  width: var(--slide-width);
  max-height: 40vh;
  margin: 0 var(--slide-margins);
}

@keyframes loop-slides {

  100% { 
    transform: translateX(calc(var(--transform-distance) - var(--margin-correction)));
  }
}

/* *** END IMAGE SLIDER *** */

main {
  background-color: white;
  color: black;
  transition: all ease 300ms;
}

main.dark {
  background-color: var(--dark-gray);
  color: var(--off-white);
}

/* *** BEGIN SPINNER *** */

.bar {
  width: 5px;
  height: 15px;
  background-color: grey;
  position: absolute;
  opacity: 0.4;
  border-radius: 2px;
}
.spinner {
  position: relative;
  width: 34px;
  height: 42px;
  margin: 12vh auto;
}
#two, #six {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#three, #seven {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#four, #eight {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
#one {
  top: 0;
  left: 15px;
}
#two {
  top: 4px;
  left: 25px;
}
#three {
  top: 13px;
  left: 30px;
}
#four {
  top: 23px;
  left: 25px;
}
#five {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 27px;
  left: 15px;
}
#six {
  top: 23px;
  left: 5px;
}
#seven {
  top: 13px;
  left: 0;
}
#eight {
  top: 4px;
  left: 5px;
}

/* *** END SPINNER *** */

#social-media-icons-links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#social-media-icons-links > a > img {
  --size: 4vh;
  height: var(--size);
  margin: 1rem 0.5rem;
  transition: all ease 300ms;
  opacity: 0.9;
}

#social-media-icons-links > a:hover > img {
  opacity: 1;
  filter: drop-shadow(0 0 2px var(--dark-blue));
}

#social-media-icons-links.dark > a > img {
  filter: invert(100%);
}

#social-media-icons-links > a:nth-of-type(1) > img, #social-media-icons-links > a:nth-of-type(4) > img {
  height: calc(1.35 * var(--size));
}

#countdown-service-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}

/* *** BEGIN COUNTDOWN CONTAINER */

.countdown-container {
  margin: 0 0 1rem 3rem;
}

#countdown {
  font-size: var(--fs-900);
  margin-top: -1rem;
}

#prayer-request-container {
  width: 100%;
  padding: 3rem;
}

#prayer-requests {
  max-width: 40vw;
}

.prayer-list {
  columns: 2;
}

.prayer-item {
  font-size: var(--fs-300);
}

/* *** FOOTER *** */

footer {
  max-width: 100%;
  background-color: var(--dark-blue);
  color: var(--off-white);
}

footer.dark {
  background-color: var(--off-white);
  color: black;
}

.footer-links, .footer-schedule, .social-media, .credit {
  max-width: 100%;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all ease 350ms;
}

.footer-link:hover {
  color: var(--lighter-blue);
}

#current-weather {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weather-text {
  padding: 0.5rem 1.5rem;
}

.weather-icon {
  filter: contrast(280%) brightness(1%) invert(85%);
  height: 5vw;
}

.diamond {
  --side: 10%;
  height: var(--side);
  width: var(--side);
}